:root {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
}

.main-header {
    display: flex;
    background-color: #121212;
    padding: 1rem 0;
    color: #ffffff;
    border-bottom: solid 8px #FFB952;
}

.main-header-title {
    margin-left: 6rem;
}

.header-strapline {
    font-size: 2rem;
    font-weight: 300;
    color: #FFB952;
    line-height: 2.1rem;
}

.logo-block {
    flex: 30%;
    padding: 0 2rem;
    text-align: right;
}

.logo-block-text {
    margin: 0.25rem 0;
    text-align: right;
}


@media only screen and (max-width: 768px) {
    .main-header {
        flex-direction: column-reverse;
    }

    .logo-block-text {
        text-align: center;
    }

    .logo-block {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .logo-block img {
        width: 200px;
    }

    .main-header-title {
        text-align: center;
        margin-left: 0;
        line-height: 0.75rem;
    }
}

.blockquote {
    padding: 1rem 3rem 2rem;
    font-style: oblique;
    margin-block-end: 0;
    background-color: #efefef;
    margin: 2rem auto;
}

.mt-4 {
    margin-top: 2rem !important;
}

.breadcrumb {
    margin: 2rem;
}

.anchor-container {
    border: 2px solid #FFB952;
    padding: 1rem 1rem 0 1rem;
}

.anchor-header {
    font-size: 1.3rem;
    display: block;
    margin-bottom: 0.75rem;
}

.anchor-links {
    list-style-type: none;
    padding-bottom: 0.75rem;
}

.list-group-item-light.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus {
    color: #ffffff;
    background-color: #134571 !important;
}

footer {
    color: #ffffff;
    background-color: #121212;
}

footer .row {
    width: 90%;
    margin: 0 auto;
    padding: 0 0.75rem;
    max-width: 900px;
    flex-direction: column;
}


footer .col {
    margin-bottom: 1.5rem;

}

@media only screen and (min-width: 768px) {
    footer {
        padding-left: 15rem !important;
    }

    footer .row {
        flex-direction: row;
    }

    footer .col {
        margin-bottom: 0;
    }
}


.container-fluid {
    width: 90%;
}

h2 {
    padding-bottom: .75rem;
}

.intro {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0.5rem 0;
}

.example-image {
    border: 1px solid #555555;
    margin: 1rem auto;
}

figcaption {
    margin-bottom: 2rem;
    font-style: italic;
}

.main-content {
    max-width: 900px;
    padding-bottom: 4rem;
}

a.list-group-item {
    padding: 1 1.25rem !important;
}

a.list-group-item:last-child {
    border-bottom: 1px solid #cccccc !important;
}


.contact-text:last-child {
    margin-top: 1rem;
}

.contact-text:last-child {
    margin-top: 1rem;
}

.card-container {
    display: inline-block;
}

.card-container:first-child {
    margin-right: 3rem;
}

.card-block {
    border: 2px solid #FFB952;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .card-container {
        width: 100% !important;
    }
}


a.group-primary::after {
    content: url(../assets/images/chevron-blue-closed.svg);
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: -0.1rem;
    height: 1rem;
    right: 0;
    position: absolute;
}

a.group-primary:hover::after {
    content: url(../assets/images/chevron-white-open.svg);
}

a.group-primary:focus::after {
    content: url(../assets/images/chevron-white-focus.svg);
}

.side-nav-item-secondary {
    background-color: #efefef;
    border: none;
    padding-left: 1rem !important;
}


.sub-item {
    padding-left: 2rem !important;
    padding-bottom: 0.6rem !important;
    padding-top: 0.6rem !important;
}

span.example-text {

    font-size: 1.4rem;
    color: #336600;
    text-align: center !important;
}


.base-banner {
background-color: #ffb952;
padding: .7rem 1rem .3rem;
text-align: center;
}


.alert a, .alert a:active, .alert a:visited {
    text-decoration:underline;
    color:#121212;
}

.alert a:hover {
    text-decoration:none;
    color:#121212;
}


.alert {
    background-color: #ffb952 !important;
    border: 0;
    color: #121212;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
}

em {
font-weight: bold;
font-size: 1.2rem;
font-style: normal;

}